// body color?
body {
    margin:0
    font-family Arial, sans-serif;
    background: #e0e0e0;
}

// top nav test
 .top-nav{
    background: #4D4D4D;
    color: white;
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 10;

    .nav-links {
     list-style: none;
     display: flex;
     gap: 10px;

     li {
        background-color: #343434;
        padding: 5px 12px;
        border-radius: 8px;
        cursor: pointer;

        &.active {
            background: #8bc34a;
        }
     }

    }

 }

//  dashboard layout 
   .dashboard{
    display: flex;
   }



//  side menu
 .sidemenu {
    width: 200px;
    background: #009680;
    color: white;
    display: flex;
    flex-direction: column;

    .sidelogo {
        background: #004d40;
        padding: 20px;
        text-align: center;

    }

    .side-tab{
        background-color: #4caf50;
        padding: 20px;
        text-align: center;
    }

 }

//   content layout 
   .content {
     flex: 1;
     padding: 20px;

     .title {
        background: #ffb957;
        padding: 15px;
        margin-bottom: 20px;
        text-align: center;
     }

     .stats {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
     }

     .card {
        flex: 1;
        background: #64b5f6;
        padding: 30px;
        border-radius: 15px;
        text-align: center;
     }

   }